{% extends "base.html" %}
{% load static %}

{% block extra_css%}
    <link rel="stylesheet" href="{% static 'booking/css/booking.css' %}">
{% endblock %}

<!-- Assistance from CI - Boutique Ado walkthrough -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

<!-- Assistance from CI - Boutique Ado walkthrough -->
{% block content %}
    <div class="container">
        <!-- Page Header -->
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="text-yellow heading-background-black">Thank you!</h3>
                <p class="text-yellow">
                    Your Whiskey Dreams are coming true!
                    <br>
                    Here are your booking details, and an email confirmation has been sent to {{ booking.email }}
                </p>
            </div>
        </div>

        <!-- Successfull booking details -->
        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="booking-confirmation-wrapper rounded-background-yellow p-2 mb-3">

                    <!-- Booking info section -->
                    <div class="row">
                        <div class="col">
                            <small>
                                Booking Info:
                            </small>
                        </div>
                    </div>

                    <!-- Booking number and date of booking -->
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p><strong>Booking Number:</strong></p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p>{{ booking.booking_number }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p><strong>Booked On:</strong></p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p>{{ booking.date_of_booking }}</p>
                        </div>
                    </div>
                    <hr>

                    <!-- Booking line items section -->
                    <div class="row">
                        <div class="col">
                            <small>
                                Booking Experience Details:
                            </small>
                        </div>
                    </div>

                    <!-- Booking line item details -->
                    {% for item in booking.lineitems.all %}
                        <!-- Experience name -->
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p><strong>Whiskey Experience:</strong></p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p>{{ item.tour.tour_name }}</p>
                            </div>
                        </div>

                        <!-- Experience date -->
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p><strong>Date:</strong></p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p>{{ item.booking_date }}</p>
                            </div>
                        </div>

                        <!-- Experience time slot -->
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p><strong>Time Slot:</strong></p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p>{{ item.booking_time_slot }}</p>
                            </div>
                        </div>

                        <!-- Number of attendees -->
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p><strong>No. of Attendees:</strong></p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p>{{ item.number_of_attendees }} @ £{{ item.tour.tour_price }}pp</p>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}

                    <!-- Booking contact details section -->
                    <div class="row">
                        <div class="col">
                            <small>
                                Contact Details:
                            </small>
                        </div>
                    </div>

                    <!-- Contact name -->
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p><strong>Contact Name:</strong></p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p>{{ booking.first_name }} {{ booking.last_name }}</p>
                        </div>
                    </div>

                    <!-- Contact number -->
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p><strong>Mobile Number:</strong></p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p>{{ booking.mobile_number }}</p>
                        </div>
                    </div>

                    <!-- Contact email -->
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p><strong>Email Address:</strong></p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p>{{ booking.email }}</p>
                        </div>
                    </div>
                    <hr>

                    <!-- Booking charges section -->
                    <div class="row">
                        <div class="col">
                            <small>
                                Booking Costs:
                            </small>
                        </div>
                    </div>

                    <!-- Booking total -->
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p><strong>Total:</strong></p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p>£{{ booking.booking_total }}</p>
                        </div>
                    </div>

                    <!-- Booking discount -->
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p><strong>Discount:</strong></p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p>£{{ booking.discount_amount }}</p>
                        </div>
                    </div>

                    <!-- Booking grand total -->
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p><strong>Grand Total:</strong></p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p>£{{ booking.grand_total }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
