{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Profile{% endblock %}

{% block extra_css%}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

<!-- Assistance from CI - Boutique Ado walkthrough -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

<!-- Assistance from CI - Boutique Ado walkthrough -->
{% block content %}
    <div class="container">
        <!-- Page Header -->
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="text-yellow heading-background-black">Profile</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <p class="text-yellow">Contact Info:</p>
                <form class="mt-3" 
                action="{% url 'profile' %}" 
                method="POST" 
                id="profile-update-form">
                    {% csrf_token %}
                    {{ form.first_name | as_crispy_field }}
                    {{ form.last_name | as_crispy_field }}
                    {{ form.email | as_crispy_field }}
                    {{ form.default_mobile_number | as_crispy_field }}
                    {{ form.default_date_of_birth | as_crispy_field }}
                    <button class="btn btn-yellow float-right mb-3">Update Info</button>
                </form>
            </div>
            <div class="col-12 col-lg-6">
                <p class="text-yellow">Booking History:</p>
                <div class="table-responsive booking-history rounded-background-yellow">
                    <table class="table table-sm table-borderless">
                        <thead class="small">
                            <tr>
                                <th>Booking Number:</th>
                                <th>Booking Placed On:</th>
                                <th>Experience</th>
                                <th>Total:</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for booking in bookings %}
                                <tr>
                                    <td>
                                        <a class="text-decoration-none" 
                                        href="{% url 'booking_history' booking.booking_number %}" 
                                        title="{{ booking.booking_number}}">
                                            <span class="small">
                                                {{ booking.booking_number|truncatechars:4 }}
                                            </span>
                                        </a>
                                    </td>
                                    <td class="small">
                                        {{ booking.date_of_booking }}
                                    </td>
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for item in booking.lineitems.all %}
                                                <li class="small">
                                                    {{ item.tour.tour_name }} 
                                                    x {{ item.number_of_attendees }} 
                                                    for {{ item.booking_time_slot }} time slot, 
                                                    on {{ item.booking_date }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td class="small">
                                        {{ booking.grand_total }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
{% endblock %}

<!-- Assistance from CI - Boutique Ado walkthrough -->
{% block postloadjs %}
    {{ block.super }}

    <!-- Flatpickr script -->
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
            flatpickr("#{{ form.default_date_of_birth.id_for_label }}", {
                enableTime: false,
                dateFormat: "Y-m-d",
                maxDate: "today",
            })
        })

    </script>
{% endblock %}
