{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

<!-- Assistance from CI - Boutique Ado walkthrough -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

<!-- Assistance from CI - Boutique Ado walkthrough -->
{% block content %}
    <div class="container">
        <!-- Page Header -->
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="text-yellow heading-background-black">Basket</h3>
            </div>
        </div>

        <!-- Basket Items -->
        <div class="row">
            <div class="col-12">
                {% if basket_items %}
                    <table class="table table-striped table-dark">
                        <thead>
                            <tr>
                                <th scope="col">Whiskey Experience</th>
                                <th scope="col">Line Item Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in basket_items %}
                            <tr>
                                <!-- Booking Name -->
                                <td>{{ item.experience.tour_name }}</td>

                                <!-- Booking Date, time and attendees -->
                                <td>
                                    {% if item.form %}
                                    <form class="form update-form" method="post" action="{% url 'adjust_basket' item.experience.id %}">
                                        {% csrf_token %}
                                        <!-- Booking Date -->
                                        <div class="form-group inline-item">
                                            <label for="{{ item.form.booking_date.id_for_label }}">Booking Date:</label>
                                            {{ item.form.booking_date }}
                                        </div>

                                        <!-- Booking time slot -->
                                        <div class="form-group inline-item">
                                            <label for="{{ item.form.booking_time_slot.id_for_label }}">Booking Time Slot:</label>
                                            {{ item.form.booking_time_slot }}
                                        </div>

                                        <!-- Number of attendees -->
                                        <div class="form-group inline-item">
                                            <label for="{{ item.form.number_of_attendees.id_for_label }}">Number of Attendees:</label>
                                            <!-- Assistance from CI Tutor and ChatGPT -->
                                            <div class="input-group">
                                                <select name="number_of_attendees">
                                                {% for i in number_of_attendees_values %}
                                                    <option value="{{ i }}" {% if i == submitted_number_of_attendees %}selected{% endif %}>{{ i }}</option>
                                                {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <!-- Hidden input for item_id -->
                                        <input type="hidden" name="item_id" value="{{ item.experience.id }}">

                                        <!-- Experience price per person -->
                                        <p class="inline-item"><strong>Price pp:</strong> £{{ item.experience.tour_price }}</p>

                                        <!-- Experience line item total -->
                                        <p class="inline-item">
                                            <strong>Line Item Total:</strong> 
                                            £{{ item.experience.tour_price | calc_subtotal:item.form.number_of_attendees.value }}
                                        </p>

                                        <!-- Update button -->
                                        <a class="text-danger float-right update-link"
                                            data-date="{{ item.form.booking_date.id_for_label }}"
                                            data-time="{{ item.form.booking_time_slot.id_for_label }}"
                                            data-attendees="{{ item.form.number_of_attendees.id_for_label }}"
                                            title="Update"
                                            href="#">
                                                Update
                                                <span class="icon text-yellow"><i class="fa-solid fa-rotate-right fa-xs"></i></span>
                                        </a>

                                        <!-- Remove button -->
                                        <a class="remove-item text-danger float-right"
                                            id="remove_{{ item.experience.id }}"
                                            title="Remove"
                                            href="#">
                                                Delete
                                                <span class="icon text-yellow"><i class="fa-solid fa-trash-can fa-xs"></i></span>
                                        </a>
                                    </form>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            
                            {% if discount %}
                            <tr>
                                <td colspan="2" class="pt-3 text-right pr-4">
                                    <strong>Total:</strong> £{{ total|floatformat:2 }} <br>
                                    <strong>Discount:</strong> £{{ discount|floatformat:2 }} <br>
                                    <strong>Basket Total:</strong> £{{ grand_total|floatformat:2 }}
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="2" class="pt-3 text-right">
                                    <strong>Basket Total:</strong> £{{ grand_total|floatformat:2 }}
                                </td>
                            </tr>
                            <p class="text-right text-yellow"><strong>Spend £{{ discount_delta }} to get your 10% discount!</strong></p>
                            {% endif %}
                        </tbody>
                    </table>
                    <a href="{% url 'tours' %}" class="display-decoration-none btn btn-yellow text-black mt-3 mb-3">
                        Continue Browsing Whiskey Experiences
                    </a>
                    <a href="{% url 'booking' %}" class="display-decoration-none btn btn-yellow text-black mt-3 mb-3">Book Now</a>
                {% else %}
                    <p class="text-center text-yellow">Your basket is currently empty</p>
                    <a class="display-decoration-none btn btn-yellow text-black mt-3 mb-3" href="{% url 'tours' %}">
                        Back to Whiskey Experiences
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", function() {
                // Add the flatpickr-date-input as a class to the booking date input
                $(".flatpickr-date-input").flatpickr({
                    enableTime: false,
                    dateFormat: "Y-m-d",
                    minDate: "today",
                });

                // Update quantity on click
                $(".update-link").click(function (e) {
                    e.preventDefault();
                    let form = $(this).closest('form');
                    form.submit();
                });
                    

                // Remove item and reload on click
                $(".remove-item").click(function(e) {
                    let csrfToken = "{{ csrf_token }}";
                    let itemId = $(this).attr("id").split("remove_")[1];
                    let url = `/basket/remove/${itemId}/`;
                    let data = {
                        'csrfmiddlewaretoken': csrfToken,
                    };
                    console.log(url);

                    $.post(url, data).done(function() {
                        location.reload();
                    })
                });
            });
        </script>
{% endblock %}