/* Assistance from CI - Boutique Ado walkthrough */

/* ----------------------------- General Styling */
html {
    height: 100%;
}

body {
    background: url('/media/whiskey\ glass\ and\ bottle.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: "Amiri", Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Diplomata SC", Verdana, sans-serif;
}

/* ----------------------------- Colours */
.bg-black,
.btn-black {
    background-color: black;
    color: yellow;
}

.btn-black:hover {
    background-color: gold;
    color: black;
    border: 1px solid black;
}

.border-black {
    border: 1px solid black;
}

.bg-yellow,
.btn-yellow {
    background-color: yellow;
}

.btn-yellow:hover {
    background-color: gold;
}

.text-black {
    color: black;
}

.text-black .card:hover {
    color: yellow;
    background-color: black;
}

.text-yellow {
    color: yellow;
}

a .text-yellow:hover {
    color: gold;
}

.dropdown-item:hover {
    background-color: black;
    color: yellow;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .5);
    border-color: rgba(0, 0, 0, 1);
}

.heading-background-black {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 5px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.transparent-background-black {
    background-color: rgba(0, 0, 0, 0.1);
}

.rounded-background-yellow {
    background-color: yellow;
    border: none;
    border-radius: 5px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
}

/* ----------------------------- Icons */
/* Assistance from CI - Boutique Ado walkthrough */

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* ----------------------------- Logo */

/* Assistance from CI - Boutique Ado walkthrough */
.main-logo-link {
    width: fit-content;
}

/* ----------------------------- Containers */

.container-card {
    width: 330px;
    height: 550px;
    overflow: scroll;
}

.container-card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Copied directly from CI - Boutique Ado walkthrough */
/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Taken directly from CI - Boutique Ado walkthrough due to time constraints */
/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: 0px;
    right: 36px;
}

/* Taken directly from CI - Boutique Ado walkthrough due to time constraints */
/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

/* ----------------------------- Effects */

.text-decoration-none {
    text-decoration: none;
}

.bold-text {
    font-weight: bold;
}

/* Assistance from ChatGPT */
.btn-back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
}

/* Assistance from ChatGPT */
.btn-clear-default {
    border: none;
    border-radius: 50%;
    background: black;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.discount-banner {
    display: none;
    position: fixed;
    top: 200px;
    left: 50%;
    z-index: 99;
    cursor: none;
}

.visually-hidden label {
    display: none;
}

/* ----------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* ----------------------------- Allauth formatting */
.allauth-form-inner-content p {
    margin-top: 1.5rem;

}

.allauth-form-inner-content input {
    border: none;
    border-radius: 5px;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* From CI - Boutique Ado walkthrough */
/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 120px;
    }

    body {
        height: calc(100vh - 120px);
    }
}

/* main-nav for screens 992px and down */
@media (max-width: 991px) {
    .main-nav-bg-black {
        background-color: black;
        text-align: center;
    }

    .main-nav-bg-black:hover {
        background-color: yellow;
    }

    .main-nav-bg-black>li {
        color: yellow;
    }

    .main-nav-bg-black>li:hover {
        color: black;
    }

    #home,
    #experiences,
    #contact {
        color: yellow;
    }

    #home:hover,
    #experiences:hover,
    #contact:hover {
        color: black;
        border: 1px solid black;
    }
}