/* Assistance from CI - Boutique Ado walkthrough */

/* ----------------------------- General Styling */
html {
    height: 100%;
}

body {
    background: url('/media/whiskey\ glass\ and\ bottle.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: "Amiri", Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Diplomata SC", Verdana, sans-serif;
}

/* ----------------------------- Colours */
.bg-black {
    background-color: black;
}

.border-black {
    border: 1px solid black;
}

.bg-yellow,
.btn-yellow {
    background-color: yellow;
}

.btn-yellow:hover {
    background-color: gold;
}

.text-black {
    color: black;
}

.text-black .card:hover {
    color: yellow;
    background-color: black;
}

.text-yellow {
    color: yellow;
}

.text-yellow:hover {
    color: gold;
}

.dropdown-item:hover {
    background-color: black;
    color: yellow;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .5);
    border-color: rgba(0, 0, 0, 1);
}

/* ----------------------------- Icons */
/* Assistance from CI - Boutique Ado walkthrough */

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* ----------------------------- Logo */

/* Assistance from CI - Boutique Ado walkthrough */
.main-logo-link {
    width: fit-content;
}

/* ----------------------------- Containers */

.container-card {
    width: 330px;
    height: 480px;
    overflow: scroll;
}

.container-card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* .container-image img {
    width: 380px;
    height: 100%;
    object-fit: contain;
} */

/* ----------------------------- Effects */

.text-decoration-none {
    text-decoration: none;
}

/* ----------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* main-nav for screens 992px and down */
@media (max-width: 991px) {
    .main-nav-bg-black {
        background-color: black;
        text-align: center;
    }

    .main-nav-bg-black:hover {
        background-color: yellow;
    }

    .main-nav-bg-black>li {
        color: yellow;
    }

    .main-nav-bg-black>li:hover {
        color: black;
    }

    #home,
    #experiences,
    #contact {
        color: yellow;
    }

    #home:hover,
    #experiences:hover,
    #contact:hover {
        color: black;
        border: 1px solid black;
    }
}