{% extends "base.html" %} {% load static %}

<!-- Assistance from CI - Boutique Ado walkthrough -->
{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

<!-- Assistance from CI - Boutique Ado walkthrough -->
{% block content %}
<div class="container">
  <div class="row">
    <div class="card mb-3 bg-yellow">
      <div class="row nogutters mt-3 mb-3">
        <div class="col-12 text-center">
          <h3 class="pl-3 pr-3">{{ tour.tour_name }}</h3>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-md-6 align-self-center">
          <img
            class="img-fluid"
            src="{{ tour.tour_image.url }}"
            alt="{{ tour.tour_image.name }}"
          />
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <!-- Tour description -->
            <p class="card-text">
              <strong>Description:</strong><br>{{ tour.tour_description }}</p>

            <!-- Tour price per person & tour rating -->
            <p class="card-text">
              <strong>Price per person:</strong> £{{ tour.tour_price }}
            </p>
            {% if tour.tour_rating %}
            <p><strong>Rating:</strong> {{ tour.tour_rating|floatformat:0 }}<i class="fa-sharp fa-solid fa-star"></i></p>
            {% endif %}

            <!-- Tour Category -->
            {% if tour.tour_category %}
            <p class="card-text"><strong>Categories:</strong> 
                <!-- Assistance from ChatGPT -->
                {% for category in tour.tour_category.all %}
                    <!-- Idea from CI - Boutique Ado walkthrough -->
                    <a class="text-decoration-none text-black" href="{% url 'tours' %}?category={{ category.name }}">{{ category.friendly_name }}</a>
                    {% if not forloop.last%}, {% endif %}
                {% endfor %}
            </p>
            {% endif %}

            <!-- Tour Address -->
            <p class="card-text"><strong>Address: <br></strong>
              {{ tour.street_address1 }},<br> 
              {% if tour.street_address2 %} 
                {{ tour.street_address2 }},<br>
              {% endif %} 
              {% if tour.town_or_city %} 
                {{ tour.town_or_city }},<br>
              {% endif %} 
              {% if tour.county %} 
                {{ tour.county }},<br>
              {% endif %} 
              {{ tour.post_code }},<br>
              {{ tour.country }}
            </p>

            <!-- Book now & Add to Basket buttons -->
            <form action="{% url 'add_to_basket' tour.id %}" method="post">
                {% csrf_token %}
                {{ booking_form.non_field_errors }}
                <div class="form-row">
                    <div class="col-12">
                        <div class="form-group w-50">
                            {{ booking_form.number_of_attendees.errors }}
                            <label for="{{ booking_form.number_of_attendees.id_for_label }}">Number of Attendees:</label>
                            {{ booking_form.number_of_attendees }}
                            <p><small>Max number per group: {{ tour.max_attendees }}</small></p>
                        </div>
                        <div class="form-group w-50">
                            <div class="form-group w-50">
                                {{ booking_form.booking_date.errors }}
                                <label for="{{ booking_form.booking_date.id_for_label }}">Booking Date:</label>
                                {{ booking_form.booking_date }}
                            </div>
                        </div>
                        <div class="form-group w-50">
                            <div class="form-group w-50">
                                {{ booking_form.booking_time_slot.errors }}
                                <label for="{{ booking_form.booking_time_slot.id_for_label }}">Booking Time Slot:</label>
                                {{ booking_form.booking_time_slot }}
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <a href="{% url 'tours' %}" class="btn bg-black text-yellow mb-2">Continue Browsing Experiences</a>
                        <input type="submit" class="btn bg-black text-yellow mb-2" value="Book Now">
                        <input type="submit" class="btn bg-black text-yellow mb-2" value="Add to basket">
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
            flatpickr("#{{ booking_form.booking_date.id_for_label }}", {
                enableTime: false,
                dateFormat: "Y-m-d",
                minDate: "today",
            })
        })
        console.log($("#{{ booking_form.booking_date.id_for_label }}"));

    </script>

{% endblock %}
