{% extends "base.html" %}
{% load static %}

<!-- Assistance from CI - Boutique Ado walkthrough -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

<!-- Assistance from CI - Boutique Ado walkthrough -->
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <ul>
            {% for tour in tours %}
            <li>{{ tour.tour_name }} - {{ tour.tour_description }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}