{% extends "base.html" %}
{% load static %}

<!-- Assistance from CI - Boutique Ado walkthrough -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

<!-- Assistance from CI - Boutique Ado walkthrough -->
{% block content %}
<div class="container">
    <!-- Page Heading & filter display -->
    <div class="row">
        <div class="col-12 text-center">
            <a class="text-decoration-none" href="{% url 'tours' %}" title="All Whiskey Experiences">
                <h3 class="text-yellow heading-background-black">Whiskey Experiences</h3>
            </a>
            {% for c in current_categories %}
                <!-- Bootstrap badge to display selected category -->
                <span class="badge badge-pill text-black bg-yellow">{{ c.friendly_name }}</span>
            {% endfor %}
        </div>
    </div>

    <!-- Sorting options -->
    <!-- Assistance from CI - Boutique Ado walkthrough -->
    <div class="row mt-3">
        <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
            <div class="sort-select-wrapper w-50">
                <select id="sort-selector" class="custom-select custom-select-sm rounded-2 border border-{% if current_sorting != 'None_None' %}warning{% else %}black{% endif %}">
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                    <option value="tour_price_asc" {% if current_sorting == 'tour_price_asc' %}selected{% endif %}>Price (low to high)</option>
                    <option value="tour_price_desc" {% if current_sorting == 'tour_price_desc' %}selected{% endif %}>Price (high to low)</option>
                    <option value="tour_rating_asc" {% if current_sorting == 'tour_rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                    <option value="tour_rating_desc" {% if current_sorting == 'tour_rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                    <option value="tour_name_asc" {% if current_sorting == 'tour_name_asc' %}selected{% endif %}>Name (A-Z)</option>
                    <option value="tour_name_desc" {% if current_sorting == 'tour_name_desc' %}selected{% endif %}>Name (Z-A)</option>
                </select>
            </div>
        </div>
        <div class="col-12 col-md-6 order-md-first">
            <p class="mt-3 text-center text-md-left text-yellow">
                {% if search_term or current_categories or current_sorting != 'None_None' %}
                    <span class="small"><a class="text-yellow" href="{% url 'tours' %}">All Experiences</a> | </span>
                {% endif %}
                {{ tours|length }} {% if tours|length > 1 %}Experiences{% else %}Experience{% endif %}{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
            </p>
        </div>
    </div>

    <!-- Whiskey Experiences -->
    <div class="row mt-3">
        {% for tour in tours %}
        <div class="col-12 col-md-6 col-lg-4 text-center">
            <a class="text-decoration-none text-black" href="{% url 'tour_detail' id=tour.id %}">
                <div class="card mb-3 bg-yellow container-card">
                    <img src="{{ tour.tour_image.url }}" class="card-img-top container-card-image" alt="{{ tour.tour_image.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ tour.tour_name }}</h5>
                        <p class="card-text">{{ tour.tour_description }}</p>
                        <div class="container">
                            <span class="card-text">
                                <small>£{{ tour.tour_price }}pp</small>
                            </span>
                            <span class="card-text">
                                <small>{{ tour.tour_rating|floatformat:0 }}<i class="fa-sharp fa-solid fa-star"></i></small>
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

<!-- Assistance from CI - Boutique Ado walkthrough -->
{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $("#sort-selector").change(function () {
            let selector = $(this);
            let currentUrl = new URL(window.location);

            let selectedVal = selector.val();
            if (selectedVal !== "reset") {
                let sort1 = selectedVal.split("_")[0];
                let sort2 = selectedVal.split("_")[1];
                let sort = [sort1, sort2].join("_");
                let direction = selectedVal.split("_")[2];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        });
</script>

{% endblock %}