{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block inner_content %}
<h1 class="text-yellow heading-background-black text-center">
    {% trans "Confirm E-mail Address" %}
</h1>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p class="text-yellow">
    {% blocktrans with confirmation.email_address.email as email %}
        Please confirm that 
        <a class="text-decoration-none" href="mailto:{{ email }}">
            <span class="text-yellow bold-text">
                {{ email }}
            </span>
        </a> is an e-mail address for user {{ user_display }}.
    {% endblocktrans %}
</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button type="submit" class="btn btn-yellow mb-3">{% trans 'Confirm' %}</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p>
    {% blocktrans %}
    This e-mail confirmation link expired or is invalid. Please 
    <a class="text-decoration-none" href="{{ email_url }}">
        <span class="text-yellow">
            issue a new e-mail confirmation request
        </span>
    </a>.
    {% endblocktrans %}
</p>

{% endif %}

{% endblock %}
