{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
    <h1 class="text-yellow heading-background-black text-center">
        {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}
    </h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="text-yellow">
            {% blocktrans %}
                The password reset link was invalid, possibly because it has already been used. 
                Please request a 
                <a class="text-decoration-none" href="{{ passwd_reset_url }}">
                    <span class="text-yellow bold-text">
                        new password reset
                    </span>
                </a>.
            {% endblocktrans %}
        </p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}" class="bold-text text-yellow">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-yellow mb-3" type="submit" name="action" value="{% trans 'change password' %}"/>
            </form>
        {% else %}
            <p class="text-yellow">
                {% trans 'Your password is now changed.' %}
            </p>
        {% endif %}
    {% endif %}
{% endblock %}
