<!-- Assistance from CI - Boutique Ado walkthrough & ChatGPT -->
<script type="text/javascript">
    // Disable the initial form fields
    $('#{{ booking_form.booking_time_slot.id_for_label }}').prop('disabled', true);
    $('#{{ booking_form.number_of_attendees.id_for_label }}').prop('disabled', true);

    // Add an event listener for the booking date field
    $('#{{ booking_form.booking_date.id_for_label }}').change(function() {
        // Enable the booking time slot when the date is selected
        $('#{{ booking_form.booking_time_slot.id_for_label }}').prop('disabled', false);
        // Disable the number of attendees field until a time slot is selected
        $('#{{ booking_form.number_of_attendees.id_for_label }}').prop('disabled', true);
    });

    // Add an event listener for the time slot field
    $('#{{ booking_form.booking_time_slot.id_for_label }}').change(function() {
        // Enable the number of attendees field when the time slot is selected
        $('#{{ booking_form.number_of_attendees.id_for_label }}').prop('disabled', false);
    });

    /**
     * A function to update the nuber of attendees choices
     */
    function updateAttendeesChoices(maxAttendees) {
        let numberField = $('#{{ booking_form.number_of_attendees.id_for_label }}');
        // Update choices based on retrieved max_attendees
        numberField.empty();
        for (let i = 1; i <= maxAttendees; i++) {
            numberField.append($('<option>', {value: i, text: i}));
        }
    };

    // Initial update based on max_attendees
    updateAttendeesChoices({{ tour.max_attendees }});

    // Event listener for tour drop down change
    $('#id_tour').change(function() {
        let selectedTourId = $(this).val();
        $.ajax({
            url: '/get_max_attendees/' + selectedTourId + '/',
            method: 'GET',
            success: function(data) {
                // Update choices for number of attendees based on the retrieved max_attendees
                updateAttendeesChoices(data.max_attendees);
            },
            error: function(error) {
                console.error('Error fetching max_attendees:', error);
            }
        });
    });
</script>