<!-- Assistance from CI - Boutique Ado walkthrough & ChatGPT -->
<script type="text/javascript">
    // Disable the initial form fields
    $('#{{ booking_form.booking_time_slot.id_for_label }}').prop('disabled', true);
    $('#{{ booking_form.number_of_attendees.id_for_label }}').prop('disabled', true);

    // Add an event listener for the booking date field
    $('#{{ booking_form.booking_date.id_for_label }}').change(function() {
        // Enable the booking time slot when the date is selected
        $('#{{ booking_form.booking_time_slot.id_for_label }}').prop('disabled', false);
        // Disable the number of attendees field until a time slot is selected
        $('#{{ booking_form.number_of_attendees.id_for_label }}').prop('disabled', true);
    });

    // Add an event listener for the time slot field
    $('#{{ booking_form.booking_time_slot.id_for_label }}').change(function() {
        // Enable the number of attendees field when the time slot is selected
        $('#{{ booking_form.number_of_attendees.id_for_label }}').prop('disabled', false);
    });
</script>